.sidebar{
    display: flex;
    flex-direction: column;

}
.compose_btn{
    padding: 10px 20px !important;
    border-radius: 15px !important;
    box-shadow: 2px 2px 2px #ccc;
    margin: 20px 0px 20px 10px !important;
    max-width: 150px;
    background-color: rgb(195, 224, 224) !important;
    color: black !important;
}

.sidebarOption_heading{
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
}